# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# environments
.venv/

# operating system-related files
# file properties cache/storage on macOS
*.DS_Store
