--- docker-compose.yaml
+++ docker-compose.yaml
@@ -45,4 +45,4 @@
-  # webui:
-  #   build: webui
-  #   volumes:
-  #     - ./webui:/$app_name
+  webui:
+    build: webui
+    volumes:
+      - ./webui:/$app_name
@@ -67,1 +67,1 @@
-      # - webui
+      - webui
